body {
    margin: 0; 
  
    background-color: rgba(0, 0, 0, 1);
}

#head {
    display :flex;
    background-color: purple;
    color: #ffff;
    justify-content: space-between;
    padding: 5px 15px;
}

.logo {
    margin-left:91px ;
}

.menu-item {
    display: flex;
    padding: 5px 15px;
    color: #ffff;
    
}

.menu {
    display: flex;
    justify-content: space-around;
    color: #ffff;
    
}

a {
    color: #ffff;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
}

p {
    color: white;
    margin-left: 100px;
}

h2 {
    color: white;
    font-size: 50px;
    margin-left: 100px;
}

.ram {
    margin-left: 100px;
}

.bee {
    border-radius: 50%;
    width: 45px;
}

