body {
    margin: 0;
   background: linear-gradient(180deg, rgba(128, 0, 128, 0.718) ,rgba(0, 0, 0, 0.893) 60%),url(../images/stark.jpg);
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
a {
    color: white;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 17px;
    
    
}

#hero {
    font-size: 45px;
    margin-left: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 40px;
    margin-bottom: 200px ;
    color: white;
    
}

p {
    font-size:23px;
}

.bee {
    border-radius: 50%;
    width: 45px;
    
}

.ram {
    
    background-color: wheat;
    text-align: center;
}

.beans {
    border-radius: 50%;
    width: 30px;
    margin-left: 130px;
    background-color:  wheat;
    text-align: center;
    margin-left: 440px;
}

span {
    font-size: 30px;
    text-align: center;  
}

footer {
    background-color: wheat;
   
}

.new {
    padding: 10px 15px;
    border-radius: 10px;
}

.old {
    border: 2px solid white;
    padding: 8px 15px;
    border-radius:10px ;
    margin-left: 20px;
   background-color: orangered;
}

.logo {
    margin-left: 120px;
}

